.account_info{
	width: 100%;
	border-top: 5px solid #A00115;
	border-bottom: 5px solid #A00115;
}

.bank_name{
	width: 90%;
	padding: 4% 5% 3% 5% ;
	font-size: 20px;
	text-align: left;
	background-color: #F9F7F7;
}

.bank_about{
	width: 100%;
	text-align: right;
	padding-bottom: 3%;
	background-color: #F9F7F7;
	overflow: hidden;
}

.bank_about li{
	float: left;
}

.store_name{
	width: 35%;
	font-size: 14px;
	font-weight: bold ;
	line-height: 160%;
}

.store_number{
	width: 13%;
	font-size: 22px;
}