.Grid {
    
}
.ReactVirtualized__Grid__innerScrollContainer {
    border-left: 1px solid #FD4520;
    border-right: 1px solid #FD4520;
}
.cell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  /*max-height: 3.6em;
  line-height: 1.5em;*/
}
.headerCell {
    color: #FD4520;
    border-right: 1px solid #FD4520;
    border-bottom: 1px solid #FD4520;
    font-size: 12px;
}
.headerCellExportCSV {
  font-size: 11px;
}
.cell {
  border-right: 1px solid #FD4520;
  border-bottom: 1px solid #FD4520;
  font-size: 14px;
}
.evenRow {
  background-color: #FAFAFA;
}
.evenRow,
.oddRow {
  border-bottom: 1px solid #FD4520;
}
.oddRow {
  background-color: #F9E7E4;
}
.centeredCell {
  align-items: center;
  text-align: center;
}
.dateCell {
    font-size: 11px;
}
.abridgementCell {
    font-size: 12px;
    color: #FD4520;
}
.abridgementCellSmall {
  font-size: 11px;
}
.cellSmall {
  font-size: 10px;
}