@charset "UTF-8";
#contentsArea{  
    height: 100%;
	margin: 0;
} 

/* h1 */
.title{
	width: 100%;
	height: 40px;
	padding-top: 6px;
	text-align: center;
	font-size: 22px;
	color: #4A4A4A;
	overflow: hidden;
}

.about_title{
	width: 80%;
	margin-top: 7px;
	float: left;
}

.arrow_l{
	width: 10%;
	float: left;
}

.arrow_r{
	width: 10%;
	float: left;
}

.arrow{
	width: 10px;
	margin-top: 10px;
}

/* PASSBOOK area */
.passbook_list_area{
	width: 100%;
	border: 1px solid #FD4520;
	table-layout: fixed;
	word-wrap: break-word;
}

.pb_title {
	width: 96%;
	height: auto;
	color: #FD4520;
	font-size: 12px;
}

.wide_s{
	width: 8%;
	padding: 2% 1% 2% 1%;
	border: 1px solid #FD4520;
}

.wide_l{
	width: 18%;
	padding: 2%;
	border: 1px solid #FD4520;
}

.list_a1{
	width: 100%;
	border-bottom: 1px solid #FD4520;
}

.list_a2{
	width: 100%;
	border-bottom: 1px solid #FD4520;
	background-color: #F9E7E4;
}

.pb_yyyy_mm_dd{
	width: 8%;
	padding: 3% 1% 3% 1%;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

.pb_transaction{
	width: 18%;
	padding: 3% 2% 3% 2%;
	font-size: 12px;
	text-align: center;
	color: #FD4520;
	vertical-align: middle;
	border: 1px solid #FD4520;
}

.pb_money{
	width: 18%;
	padding: 3% 2% 3% 2%;
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
	border: 1px solid #FD4520;
}